RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} /+[^.]+$
RewriteRule /(.+[^/])$ %{REQUEST_FILENAME}/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
